<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Обязательные метатеги -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="../../resources/static/css/bootstrap.min.css"
			  th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
		<!-- My style CSS -->
		<link href="../../resources/static/css/style.css"
			  th:href="@{/css/style.css}" rel="stylesheet">

		<title th:text="${isNew} ? 'Create new beverage' : ${message}">Create Beverage</title>
	</head>
	<body>
	
		<header>
		
		
			<nav class="navbar navbar-expand-lg navbar-dark text-light p-1 beverage-menu">
				<div class="container-xxl">
					<a href="client.html"
					   th:href="@{../client}" style="margin-right:15px;">
						<img src="../../resources/static/img/coffee.png"
							 th:src="@{/img/coffee.png}"width="40px">
					</a>
					
					<button class="navbar-toggler btn-sm" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
							aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="client.html"
								   th:href="@{../client}" >Client</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="beverages.html"
								   th:href="@{../beverages}" >Beverages</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="ingredients.html"
								   th:href="@{../ingredients}" >Ingredients</a>
							</li>
						</ul>
					</div>
					
				</div>
			</nav>
		
			<nav id="main-header" class="navbar py-1 mb-3 beverage-title">
				<div class="container-xxl">
					<span class="navbar-brand text-uppercase"
						  th:text="${isNew} ? 'Create new beverage' : ${message}">Create new beverage</span>
				</div>
			</nav>
			
		</header>
	
		
		<div class="container-xxl">
			<div class="row">
				<!-- Left column begin -->
				<div class="col">
					
					<form id="beverageForm"
						  th:object="${beverage}"
						  action="beverages.html"
						  th:action="@{${#httpServletRequest.servletPath}}"
						  th:method="@{post}">
						<input 	id="field_beverageId"
								  type="hidden"
								  th:field="*{beverageId}" />
						<div class="mb-2 col-9">
							<label for="field_beverageTitle" class="form-label">Title:</label>
							<input class="form-control" id="field_beverageTitle" type="text"
								   th:field="*{beverageTitle}">
						</div>
						<div class="row">
							<div class="mb-2 col-6">
								<label for="field_beverageIngCoffee" class="form-label">Coffee (gram): </label>
								<input class="form-control" id="field_beverageIngCoffee" type="text"
									   th:field="*{beverageIngCoffee}">
							</div>
							<div class="mb-2 col-6">
								<label for="field_beverageIngChocolate" class="form-label">Chocolate (gram): </label>
								<input class="form-control" id="field_beverageIngChocolate" type="text"
									   th:field="*{beverageIngChocolate}">
							</div>
						</div>
						<div class="row">
							<div class="mb-2 col-6">
								<label for="field_beverageIngMilk" class="form-label">Milk (gram): </label>
								<input class="form-control" id="field_beverageIngMilk" type="text"
									   th:field="*{beverageIngMilk}">
							</div>
							<div class="mb-2 col-6">
								<label for="field_beverageIngWater" class="form-label">Water (gram): </label>
								<input class="form-control" id="field_beverageIngWater" type="text"
									   th:field="*{beverageIngWater}">
							</div>
						</div>
						<hr/>
						<p>The possibility of adding other ingredients: </p>
						
						<div class="mb-2 form-check">
							<input type="checkbox" class="form-check-input" id="field_beverageIngSugar"
								   th:field="*{beverageIngSugar}">
							<label class="form-check-label" for="field_beverageIngSugar">Sugar</label>
						</div>
						<div class="mb-2 form-check">
							<input type="checkbox" class="form-check-input" id="field_beverageIngSyrup"
								   th:field="*{beverageIngSyrup}">
							<label class="form-check-label" for="field_beverageIngSyrup">Syrup</label>
						</div>
						<div class="mb-3 form-check">
							<input type="checkbox" class="form-check-input" id="field_beverageIngCinnamon"
								   th:field="*{beverageIngCinnamon}">
							<label class="form-check-label" for="field_beverageIngCinnamon">Cinnamon</label>
						</div>
						<hr/>
						
						<div class="mb-4 form-check">
							<input type="checkbox" class="form-check-input" id="field_beverageHidden"
								   th:field="*{beverageHidden}">
							<label class="form-check-label" for="field_beverageHidden">Hidden</label>
						</div>
						
						<button type="submit" class="btn btn-success" th:text="${isNew} ? 'Create' : 'Update'">Create</button>
					</form>
					
				</div>
				<!-- Left column end -->
			</div>
		</div>
		
		<footer>
			<hr/>
			<p class="text-center">&copy; 2021</p>
		</footer>
		
	</body>
	
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
				integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
				crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" 
				integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" 
				crossorigin="anonymous">
	</script>
	
	
</html>