body { background:#e5e5e5; }
a { text-decoration:none; }

.beverage-menu { background:#330000;border-bottom:2px solid #fff; }
.beverage-title { background:#996600;color:#fff; }
.beverage-title a { color:#fff;text-decoration:none; }

.left-column, .right-column { padding:15px; }
.beverage-header { background:#996600;border:1px solid #330000;padding:5px 0;color:#fff; }
.beverage-body { background:#fff;border:1px solid #330000;border-top:none;padding: 5px 0;color:#330000; }
.beverage-inf { background:#f7f7f7;margin: 0 -12px;border: 1px solid #330000;border-top:none;padding:5px 12px 8px 12px;font-size:14px;color:#330000; }
.beverage-inf button { margin:7px 0 4px 0; }
.beverage-inf-block { margin-bottom:7px; }

.credit-add a { float:right;color:#fff;text-decoration:none; }
.right-column button { margin:7px 0; }
.selected-beverages { margin-bottom:12px;font-size:14px;color:#330000; }
.selected-beverages span { float:right;color:#bf0000;font-weight:bold; }
.selected-beverages i { color:#bf0000; }

table { background:#fff;color:#330000; }
table a { color:#330000; }
table thead { background:#330000;color:#fff; }

hr {background:#330000;}
footer p {color:#330000;font-size:14px;}
