<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>webapp.log</file>
        <appeng>true</appeng>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender -->

    <!-- logger name="com.epam.brest.web_app" level="TRACE">
        <appender-ref ref="STDOUT" />
    </logger -->

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>